<div class="header-title" style="background-image:url('assets/images/bg-img-1.png');">
  <div class="container">
    <div class="title-base">
      <hr class="anima" />
      <h1>About us </h1>
      <p>“Creativity in inspiring cha change</p>
    </div>
  </div>
</div>
<div class="section-empty">
  <div class="container content">
    <div class="row vertical-row">
      <div class="col-md-12 col-sm-12">
        <h3>Who we are ?</h3>
        <p style="text-align: justify;">
            MonitAfrica Solutions Company Limited incorporated in accordance with the Companies Act 2002 on
            8 December 2017 and registered in the United Republic of Tanzania with the object of providing
            consultancy in software development activities (Customized software) across different sectors,
            primarily focus on overall company resource planning, including Supply Chain Management
            (Procurement, Inventory Management, Manufacturing, Distribution and Sales), Accounting, Asset
            Management and Human Resource as well as innovative mobile applications that simplifies the ways
            people operate in different sectors to result into efficiency and proper management.
            We are Technology Services Company providing powerful, process-driven, high quality, cost effective
            solutions across industries, helping our customers achieve evident business gains and compete
            successfully in an ever-changing marketplace.
            With our flexible approach, understanding of domain, comfort with the latest technical tools, and
            technologies and, continuously improved processes; we shrink every project cycle and enable
            accelerated delivery of world class solutions.
        </p>
      </div>
      <div class="col-md-6 boxed-inverse shadow-1 col-sm-12">
        <div class="counter-box-simple text-color"><span class="counter text-l" data-speed="5000" data-to="99000" data-refresh-interval="100">00000</span> <span>HAPPY CUSTOMER</span></div>
        <hr class="space s" />
        <div class="counter-box-simple text-color"><span class="counter text-l" data-speed="5000" data-to="30000" data-refresh-interval="100">00000</span> <span>RUNNING PROJECCT</span></div>
      </div>
    </div>
    <hr class="space" />
    <div class="row horizontal-row">
      <div class="col-md-6 boxed-inverse shadow-1 col-sm-12">
        <div class="list-items">
          <div class="list-item">
            <div class="row">
              <div class="col-md-12">
                <h3>Our Mission:</h3>
                <p style="text-align: justify;">Our mission is to create advanced technological application solutions (customer centric) that are
                    regarded as one of the best in the market, by peers and clients, offering each client reliable and
                    practical business solutions that are tailor-made to their needs. We focus on ensuring that our
                    solutions allow our clients to conduct their business affairs effectively and efficiently. That is why client
                    centered applications and best customer service delivery is one of our main priorities.</p>
              </div>
              <div class="col-md-3">
                <span></span>
              </div>
            </div>
          </div>
          <div class="list-item">
            <div class="row">
              <div class="col-md-12">
                <h3>Our Vision</h3>
                <p style="text-align: justify;">TOur vision is to be the fast and reliable technical assistance to business and every technology user. We
                    aim to meet expectations of our peers, customers, employees and stakeholders by providing quality,
                    timely and cost effective value-added solutions from world-class vendors, through Experience,
                    Expertise and Excellence delivery using highly trained and motivated people.</p>
              </div>
              <div class="col-md-3">
                <span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <h1 class="text-xl text-color">Our core Values</h1>
        <p>
            Our core values are Experience, Expertise and Excellence for our craft. We believe in team work which
            allows us to provide our clients with seamless services across the board on each assignment that we
            take on.
        </p>
        <img src="assets/images/clients/core.png" alt="" style="height: 350px; width: 350px;">
      </div>
    </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-md-10">
            <div class="col-md-12 col-sm-12" style="padding-top: 1px;">
                <h1 class="text-xl text-color">Our Client</h1>
                <p>
                    Our clientele includes local and international private and public companies, and not-for-profit
                    organizations. On its quick growth MonitAfrica has made customers in the field of Health,
                    manufacturing and retail shops as listed below;
                </p>
              </div>
        </div>
        <div class="col-md-6">

        </div>
      </div>
    </div>
</div>
<div class="section-bg-image bg-top" style="background-image:url('assets/images/bg-20.png');">
  <div class="container content">
  <!--  <div class="tab-box left" data-tab-anima="fade-in">
      <ul class="nav nav-tabs col-md-3">
        <li class="active">
          <a href="about-us-2.html#">
            Home
            <span>
                                Hisi ut aliquip ex ea commodo consequat loremaute irure dolor in reprehenderit
                                in voluptate marto.
                            </span>
          </a>
        </li>
        <li>
          <a href="about-us-2.html#">
            Profile
            <span>
                                Hisi ut aliquip ex ea commodo consequat loremaute irure dolor in reprehenderit
                                in voluptate marto.
                            </span>
          </a>
        </li>
        <li>
          <a href="about-us-2.html#">
            Messages
            <span>
                                Hisi ut aliquip ex ea commodo consequat loremaute irure dolor in reprehenderit
                                in voluptate marto.
                            </span>
          </a>
        </li>
      </ul>
      <div class="panel-box col-md-9">
        <div class="panel active">
          <img src="assets/images/mk-12.png" alt="" />
        </div>
        <div class="panel">
          <img src="assets/images/mk-12.png" alt="" />
        </div>
        <div class="panel">
          <img src="assets/images/mk-12.png" alt="" />
        </div>
      </div>
    </div>...-->
    <hr class="space" />
    <hr class="space" />
    <div class="row">
      <div class="col-md-3  boxed-inverse shadow-1">
        <div class="icon-box icon-box-top-bottom">
          <div class="icon-box-cell">
            <i class="fa-heart fa text-xl"></i>
          </div>
          <div class="icon-box-cell">
            <label class="text-m">Big passion</label>
            <p class="text-s">Lorem ipsum dolore martellato</p>
          </div>
        </div>
      </div>
      <div class="col-md-3  boxed-inverse shadow-1">
        <div class="icon-box icon-box-top-bottom">
          <div class="icon-box-cell">
            <i class="fa-gears fa text-xl"></i>
          </div>
          <div class="icon-box-cell">
            <label class="text-m">Mobile apps</label>
            <p class="text-s">Lorem ipsum scatenate l'inferno</p>
          </div>
        </div>
      </div>
      <div class="col-md-3  boxed-inverse shadow-1">
        <div class="icon-box icon-box-top-bottom">
          <div class="icon-box-cell">
            <i class="fa-users fa text-xl"></i>
          </div>
          <div class="icon-box-cell">
            <label class="text-m">Top team</label>
            <p class="text-s">Lorem  morte e sangue ma dolore</p>
          </div>
        </div>
      </div>
      <div class="col-md-3  boxed-inverse shadow-1">
        <div class="icon-box icon-box-top-bottom">
          <div class="icon-box-cell">
            <i class="fa-calendar fa text-xl"></i>
          </div>
          <div class="icon-box-cell">
            <label class="text-m">Big experience</label>
            <p class="text-s">Lorem ipsum dolore martellato</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
