<div class="section-map box-middle-container row-20">
  <!-- -6.749855477839245%2C39.24022080013276-->
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.934484884143!2d39.25352271477204!3d-6.7778285951008295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x185c4d0fab35404b%3A0xfe8e9c97ea2d4c9c!2sMonitAfrica%20Solutions%20Company%20Limited!5e0!3m2!1sen!2stz!4v1573681195017!5m2!1sen!2stz" width="1900" height="650" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  <!-- <div class="google-map" data-coords="-6.7778285951008295,39.25352271477204" data-zoom="12" data-skin=" " data-marker-pos-top="30" data-marker-pos="col-md-6-right" data-marker="http://templates.framework-y.com/signflow/images/marker-map.png"></div> -->
  <div class="overlaybox overlaybox-side overlaybox">
    <div class="container content">
      <div class="row">
        <div class="col-md-6 overlaybox-inner box-middle" data-anima="fade-left">
          <div class="row">
            <div class="col-md-5">
              <h4>MonitAfrica Solutions Company Limited</h4>
              <p class="text-left">
                Creative in inspiring changes.
              </p>
              <hr class="space s" />
              <div class="btn-group social-group btn-group-icons social-colors">
                <a target="_blank" href="contacts-1.html#" data-social="share-facebook"><i class="fa fa-facebook-square"></i></a>
                <a target="_blank" href="contacts-1.html#" data-social="share-twitter"><i class="fa fa-twitter-square"></i></a>
                <a target="_blank" href="contacts-1.html#" data-social="share-google"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
            <div class="col-md-7 fluid">
              <hr class="space visible-xs" />
              <!--<h4 class="sec-caption no-margin"> MonitAfrica Solutions Company Limited <br>-->
                <!--Afya House Building | Ground Floor, Plot No. 47 <br>-->
                <!--Mlalakuwa Road, Mikocheni  <br>-->
                <!--P.O.Box 105116, <br>-->
                <!--Msasani – Dar es Salaam <br>-->
                <!--Tanzania-->

              <!--</h4>-->
              <h4>Contacts</h4>
              <p>
                  EX GEPF House, 4 th Floor, Plot 37,<br>
                  Regent Estate, along the New Bagamoyo Road  <br>
                  P.O. Box 90286, Dar es Salaam, Tanzania <br>
                Msasani – Dar es Salaam <br>
                Tanzania
              </p>
              <hr class="space s" />
              <ul class="fa-ul">
                <li><i class="fa-li fa-envelope fa"></i> info@monitafrica.com</li>
                <li><i class="fa-li fa-phone fa"></i> +255 765 390439 | +255 717 524556</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>
    </div>
  </div>
</div>
<div class="section-empty">
  <div class="container content">
    <div class="row">
      <div class="col-md-6 col-sm-12 text-left">
        <div class="title-base text-left">
          <hr />
          <h2>Keep in touch</h2>
          <p>
            If you are having any kind of inquiries or questions, don't hesitate to talk with us. We always have time for our customers.
          </p>
        </div>

        <hr class="space s" />
        <form action="http://www.framework-y.com/scripts/php/contac.php" class="form-box form-ajax" method="post">
          <div class="row">
            <div class="col-md-6">
              <p>Name</p>
              <input id="name" name="name" placeholder="" type="text" class="form-control form-value" required>
            </div>
            <div class="col-md-6">
              <p>Email</p>
              <input id="email" name="email" placeholder="" type="email" class="form-control form-value" required>
            </div>
          </div>
          <hr class="space xs" />
          <div class="row">
            <div class="col-md-12">
              <p>Message</p>
              <textarea id="message" name="message" placeholder="" class="form-control form-value" required></textarea>
              <hr class="space s" />
              <button class="btn-sm btn circle-button" type="submit"><i class="fa fa-envelope-o"></i>Send message</button>
            </div>
          </div>
          <!--<div class="success-box">-->
            <!--<div class="alert alert-success">Congratulations. Your message has been sent successfully</div>-->
          <!--</div>-->
          <!--<div class="error-box">-->
            <!--<div class="alert alert-warning">Error, please retry. Your message has not been sent</div>-->
          <!--</div>-->
        </form>
      </div>
      <div class="col-md-6 col-sm-12">

        <hr class="space  " />
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Day</th>
            <th>Morning</th>
            <th>Afternoom</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>Monday</th>
            <td>8am - 12am</td>
            <td>15PM - 19PM</td>
          </tr>
          <tr>
            <th>Tuesday</th>
            <td>8am - 12am</td>
            <td>5pm - 9pm</td>
          </tr>
          <tr>
            <th>Wednesday</th>
            <td>8am - 12am</td>
            <td>5pm - 9pm</td>
          </tr>
          <tr>
            <th>Thirsday</th>
            <td>8am - 12am</td>
            <td>5pm - 9pm</td>
          </tr>
          <tr>
            <th>Friday</th>
            <td>8am - 12am</td>
            <td>5pm - 9pm</td>
          </tr>
          <tr>
            <th>Saturday</th>
            <td>8am - 12am</td>
            <td>Closed</td>
          </tr>
          <tr>
            <th>Sunday</th>
            <td>Closed</td>
            <td>Closed</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDl7p8SWg-5kLe7i-usdYCu5m3eVllMDTs"></script>
