
<div class="section-empty">
  <div class="container content">
    <div class="row">
      <div class="col-md-4">
        <h2>Biz Features</h2>
        <hr class="space m" />
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-check"></i> Production</li>
          <li><i class="fa-li fa fa-check"></i> Billing</li>
          <li><i class="fa-li fa fa-check"></i> POS</li>
          <li><i class="fa-li fa fa-check"></i> Procurement</li>
          <li><i class="fa-li fa fa-check"></i> Orders</li>
          <li><i class="fa-li fa fa-check"></i> Store</li>
        </ul>
      </div>
      <div class="col-md-8">
        <h2>Amazing Key Features</h2>
        <p>
          With comprehensive user experience design, the app has features for Biz to spend relatively minimum amount of time to collect and prepare data for sharing. Each member send own contributions using a mobile phone, treasurer/chairperson confirms received contributions to complete the operation and the application aggregates individual records to update and share group’s records/data instantly.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section-empty">
  <div class="container content">
    <div class="row vertical-row">
      <div class="col-md-12 text-center">
        <h2>Biz ERP Software</h2>
        <p>
          With Biz members send own contributions using a mobile phone (Android/iOS phone), treasurer/chairperson review and confirms received contributions to complete the cycle and the application aggregates individual records to update and share group’s data instantly.
        </p>
        <hr class="space m" />
        <a target="_blank" href="http://royal-oven.firebaseapp.com" class="circle-button btn btn-sm">View DEMO</a>
      </div>
    </div>
    <hr class="space" />
    <div class="flexslider carousel outer-navs" data-options="minWidth:200,itemMargin:30,numItems:5,controlNav:false,directionNav:true">
      <ul class="slides">
        <!--<li>-->
        <!--<div class="icon-box icon-box-top-bottom">-->
        <!--<div class="icon-box-cell">-->
        <!--<i class="fa-pencil fa text-xl"></i>-->
        <!--</div>-->
        <!--<div class="icon-box-cell">-->
        <!--<label class="text-m">Web design</label>-->
        <!--<p class="text-s">Lorem ipsum dolore</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</li>-->

        <li>
          <div class="icon-box icon-box-top-bottom">
            <img src="assets/groupsaving/1.png" style="height: 200px">
          </div>
        </li>
        <li>
          <div class="icon-box icon-box-top-bottom">
            <img src="assets/groupsaving/2.png" style="height: 200px">
          </div>
        </li>
        <li>
          <div class="icon-box icon-box-top-bottom">
            <img src="assets/groupsaving/3.png" style="height: 200px">
          </div>
        </li>
        <li>
          <div class="icon-box icon-box-top-bottom">
            <img src="assets/groupsaving/4.png" style="height: 200px">
          </div>
        </li>
        <li>
          <div class="icon-box icon-box-top-bottom">
            <img src="assets/groupsaving/5.png" style="height: 200px">
          </div>
        </li>


        <!--<li>-->
        <!--<div class="icon-box icon-box-top-bottom">-->
        <!--<div class="icon-box-cell">-->
        <!--<i class="fa-flash fa text-xl"></i>-->
        <!--</div>-->
        <!--<div class="icon-box-cell">-->
        <!--<label class="text-m">Boosted speed</label>-->
        <!--<p class="text-s">Lorem ipsum dolore</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</li>-->
        <!--<li>-->
        <!--<div class="icon-box icon-box-top-bottom">-->
        <!--<div class="icon-box-cell">-->
        <!--<i class="fa-flask fa text-xl"></i>-->
        <!--</div>-->
        <!--<div class="icon-box-cell">-->
        <!--<label class="text-m">Reasearch</label>-->
        <!--<p class="text-s">Lorem ipsum dolore</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</li>-->
        <!--<li>-->
        <!--<div class="icon-box icon-box-top-bottom">-->
        <!--<div class="icon-box-cell">-->
        <!--<i class="fa-warning fa text-xl"></i>-->
        <!--</div>-->
        <!--<div class="icon-box-cell">-->
        <!--<label class="text-m">Security tips</label>-->
        <!--<p class="text-s">Lorem ipsum dolore</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</li>-->
        <!--<li>-->
        <!--<div class="icon-box icon-box-top-bottom">-->
        <!--<div class="icon-box-cell">-->
        <!--<i class="fa-globe fa text-xl"></i>-->
        <!--</div>-->
        <!--<div class="icon-box-cell">-->
        <!--<label class="text-m">Global links</label>-->
        <!--<p class="text-s">Lorem ipsum dolore</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</li>-->
      </ul>
    </div>
  </div>
</div>
<i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
