<!--<div style="text-align: center;">-->
  <!--<img src="assets/logo.png" style="width: 60%;margin-top:10%" />-->
<!--</div>-->

<header class="fixed-top scroll-change" data-menu-anima="fade-bottom">
  <div class="navbar navbar-default mega-menu-fullwidth navbar-fixed-top" role="navigation">
    <div class="navbar navbar-main">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" [routerLink]="['/']" >
            <img class="logo-default" src="assets/logo.png" alt="logo" />
            <img class="logo-retina" src="assets/logo.png" alt="logo" />
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <div class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav">
              <!--<li class="dropdown active">-->
                <!--<a href="index.html#" class="dropdown-toggle" data-toggle="dropdown" role="button">Home <span class="caret"></span></a>-->
                <!--<ul class="dropdown-menu multi-level">-->
                  <!--<li><a href="index-main.html">Main</a></li>-->
                  <!--<li><a href="index-freelancer.html">Freelancer</a></li>-->
                  <!--<li><a href="index-business.html">Business</a></li>-->
                  <!--<li><a href="index-video.html">Video</a></li>-->
                  <!--<li><a href="index-cooworking.html">Cooworking</a></li>-->
                  <!--<li><a href="index-fullpage.html">Fullpage</a></li>-->
                  <!--<li><a href="index-mobile.html">Mobile</a></li>-->
                  <!--<li><a href="index-application.html">Application</a></li>-->
                  <!--<li><a href="index.html">Intro</a></li>-->
                <!--</ul>-->
              <!--</li>-->

              <li class="dropdown {{currentUrl === '/' ? 'active' : ''}}">
                <a [routerLink]="['/']" role="button">Home</a>
              </li>
              <li class="dropdown {{currentUrl === '/about' ? 'active' : ''}}">
                <a [routerLink]="['/about']" role="button">About</a>
              </li>
              <li class="dropdown {{currentUrl === '/service' ? 'active' : ''}}">
                <a [routerLink]="['/service']" role="button">Services</a>
              </li>

              <li class="dropdown {{currentUrl === '/portfolio' ? 'active' : ''}}">
                <a [routerLink]="['/portfolio']" role="button">Portfolio</a>
              </li>

              <li class="dropdown {{currentUrl === '/contact' ? 'active' : ''}}">
                <a [routerLink]="['/contact']" role="button">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer class="footer-base">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-3 footer-center text-left">
          <img width="120" src="assets/logo.png" alt="" />
        </div>
        <div class="col-md-6 footer-left text-left">
          <span>MonitAfrica Solutions Company Limited</span> <br/>
          <span>Afya House Building | Ground Floor, Plot No. 47</span><br/>
          <span>Mlalakuwa Road, Mikocheni</span><br/>
          <span>P.O.Box 105116,</span><br/>
          <span>Msasani – Dar es Salaam, Tanzania</span><br/>
          <!--<p>Collins Street West 8007, San Fransico, United States.</p>-->
          <div class="tag-row">
            <span>nmwenda@monitafrica.com</span>
            <span>+255765390439</span>
          </div>
        </div>
        <div class="col-md-3 footer-left text-right text-left-sm">
          <div class="btn-group social-group btn-group-icons">
            <a target="_blank" href="index.html#" data-social="share-facebook">
              <i class="fa fa-facebook text-xs circle"></i>
            </a>
            <a target="_blank" href="index.html#" data-social="share-twitter">
              <i class="fa fa-twitter text-xs circle"></i>
            </a>
            <a target="_blank" href="index.html#" data-social="share-google">
              <i class="fa fa-google-plus text-xs circle"></i>
            </a>
            <a target="_blank" href="index.html#" data-social="share-linkedin">
              <i class="fa fa-linkedin text-xs circle"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row copy-row">
      <div class="col-md-12 copy-text">
        © {{ 2019 }} Monitafrica LTD
      </div>
    </div>
  </div>
</footer>

