<!--<div style="text-align: center;">-->
  <!--<img src="assets/logo.png" style="width: 60%;margin-top:10%" />-->
<!--</div>-->

<header class="fixed-top scroll-change" data-menu-anima="fade-bottom">
  <div class="navbar navbar-default mega-menu-fullwidth navbar-fixed-top" role="navigation">
    <div class="navbar navbar-main">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" [routerLink]="['/']" >
            <img class="logo-default" src="assets/logo.png" alt="logo" />
            <img class="logo-retina" src="assets/logo.png" alt="logo" />
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <div class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav">

              <li class="dropdown {{currentUrl === '/' ? 'active' : ''}}">
                <a [routerLink]="['/']" role="button">Home</a>
              </li>
              <li class="dropdown {{currentUrl === '/about' ? 'active' : ''}}">
                <a [routerLink]="['/about']" role="button">About</a>
              </li>

              <li class="dropdown  {{(currentUrl === '/product/biz_erp' || currentUrl === '/product/group_saving') ? 'active' : ''}}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Products <span class="caret"></span></a>
                <ul class="dropdown-menu multi-level">
                  <li><a [routerLink]="['/product', 'group_saving']">Group Saving</a></li>
                  <li><a [routerLink]="['/product', 'biz_erp']">Biz ERP</a></li>
                </ul>
              </li>

              <li class="dropdown {{currentUrl === '/contact' ? 'active' : ''}}">
                <a [routerLink]="['/contact']" role="button">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer class="footer-base">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-center text-left">
            <img width="50" src="assets/logo.png" alt="ddddd"/>
          <!-- <h3 style="color: brown;">MonitAfrica Solutions Company Limited:-</h3> -->
          <p style="text-align: justify;">
              We are Technology Services Company providing powerful, process-driven, high quality, cost effective
              solutions across industries, helping our customers achieve evident business gains and compete
              successfully in an ever-changing marketplace.
          </p>
        </div>
        <div class="col-md-5 footer-left text-left">
            <h3  style="color: brown;">Contact </h3>
          <span>MonitAfrica Solutions Company Limited</span> <br/>
          <span><i class="fa fa-home" aria-hidden="true"></i> EX GEPF House, 4 th Floor, Plot 37,</span><br/>
          <span> Regent Estate, along the New Bagamoyo Road, Dar es Salaam</span><br/>
          <span><i class="fa fa-location-arrow" aria-hidden="true"></i> P.O. Box 90286, Dar es Salaam, Tanzania,</span><br/>
          <span>Msasani – Dar es Salaam, Tanzania</span><br/>
          <!--<p>Collins Street West 8007, San Fransico, United States.</p>-->
          <div class="tag-row">
            <span><i class="fa fa-envelope-o" aria-hidden="true"></i>info@monitafrica.com</span><br>
            <span><i class="fa fa-mobile-phone" ></i>+255 765 390439 | +255 717 524556</span>
          </div>
        </div>
        <div class="col-md-3 footer-left text-right text-left-sm">
          <div class="btn-group social-group btn-group-icons">
              <!-- <h3>Social Media</h3> -->
            <a target="_blank" href="index.html#" data-social="share-facebook">
              <i class="fa fa-facebook text-xs circle"></i>
            </a>
            <a target="_blank" href="index.html#" data-social="share-twitter">
              <i class="fa fa-twitter text-xs circle"></i>
            </a>
            <a target="_blank" href="index.html#" data-social="share-google">
              <i class="fa fa-google-plus text-xs circle"></i>
            </a>
            <a target="_blank" href="index.html#" data-social="share-linkedin">
              <i class="fa fa-linkedin text-xs circle"></i>
            </a><br><br>
            <br>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.934484884143!2d39.25352271477204!3d-6.7778285951008295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x185c4d0fab35404b%3A0xfe8e9c97ea2d4c9c!2sMonitAfrica%20Solutions%20Company%20Limited!5e0!3m2!1sen!2stz!4v1573681195017!5m2!1sen!2stz" width="320" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            <!-- <img width="120" src="assets/logo.png" alt="ddddd"/> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row copy-row">
      <div class="col-md-12 copy-text">
        © {{ 2019 }} Monitafrica LTD, All Rights Reserved.
      </div>
    </div>
  </div>
</footer>

