<div class="section-bg-image bg-top" style="background-image:url(assets/images/long-1.jpg)">
  <div class="container content">
    <div class="row">
      <div class="col-md-10 col-center text-center" data-anima="fade-in" data-time="1000">
        <hr class="space m" />
        <h1>MonitAfrica Solutions Company Limited, Creative in inspiring changes.</h1>
        <hr class="space" />
        <a [routerLink]="['/service']" class="circle-button btn btn-lg shadow-1">Explore Our services</a>
        <!-- <span class="space"></span>-->
        <!--<a href="index-main.html#" class="circle-button btn btn-border btn-lg"><i class="fa fa-play"></i>Watch the video</a> -->
      </div>
    </div>
    <hr class="space" />
    <hr class="space" />
    <hr class="space l" />
    <div class="flexslider carousel outer-navs" data-options="minWidth:200,itemMargin:30,numItems:3,controlNav:true,directionNav:true">
      <ul class="slides">
        <li>
          <div class="advs-box advs-box-top-icon-img boxed-inverse shadow-1">
            <a class="img-box lightbox img-scale-up" href="index-main.html#">
              <span><img src="assets/images/project-management.png" alt="" style="height: 200px;"></span>
            </a>
            <div class="advs-box-content">
              <h3>Project Management</h3>
              <p style="text-align: justify;">
                "Plan the work, than work the plan" – Our team has certified professionals that are dedicated to power your projects success.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="advs-box advs-box-top-icon-img boxed-inverse shadow-1">
            <a class="img-box lightbox img-scale-up" href="index-main.html#">
              <span><img src="assets/images/mobile.png" alt="" style="height: 230px;"></span>
            </a>
            <div class="advs-box-content">
              <h3>Mobile Applications</h3>
              <p style="text-align: justify;">
                Skillful in developing a wide range of genuine applications for iOS, Android and other mobile systems.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="advs-box advs-box-top-icon-img boxed-inverse shadow-1">
            <a class="img-box lightbox img-scale-up" href="index-main.html#">
              <span><img src="assets/images/ruan.jpg" alt=""></span>
            </a>
            <div class="advs-box-content">
              <h3>Website Design & Development</h3>
              <p style="text-align: justify;">
                Experienced kings in delivering the best solutions in web applications for our esteemed customers.
              </p>
            </div>
          </div>
        </li>
        <li>
           <div class="advs-box advs-box-top-icon-img boxed-inverse shadow-1">
            <a class="img-box lightbox img-scale-up" href="index-main.html#">
              <span><img src="assets/images/qa-testing.jpg" alt="" style="height: 200px;"></span>
            </a>
            <div class="advs-box-content">
              <h3>QA & Testing</h3>
              <p>
                We use Quality Assurance wisely in our product development process, delivering flawless and perfectly functional products.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="advs-box advs-box-top-icon-img boxed-inverse shadow-1">
           <a class="img-box lightbox img-scale-up" href="index-main.html#">
             <span><img src="assets/images/security.png" alt="" style="height: 200px;"></span>
           </a>
           <div class="advs-box-content">
             <h3>Security Architecture</h3>
             <p>
              Experienced in Architecture Risk Assessment, Security Architecture and Design, Implementation, Operations and Day-to-Day processes.
             </p>
           </div>
         </div>
       </li>
      </ul>
    </div>
    <hr class="space" />
    <h1 class="text-l text-center">
     <b>What makes us unique? </b>
    </h1>
    <hr class="space" />
    <div class="grid-list">
      <div class="grid-box row">
        <div class="grid-item col-md-4">
          <div class="icon-box">
            <div class="icon-box-cell">
              <i class="fa fa-bar-chart-o  text-xl"></i>
            </div>
            <div class="icon-box-cell">
              <label class="text-m">Economic Values</label>
              <p style="text-align: justify;">
                By translating new and innovative technologies in relevant business solutions.
              </p>
            </div>
          </div>
        </div>

        <div class="grid-item col-md-4">
          <div class="icon-box">
            <div class="icon-box-cell">
              <i class="fa fa-keyboard-o text-xl"></i>
            </div>
            <div class="icon-box-cell">
              <label class="text-m">Innovative
                solutions</label>
              <p>
                Providing innovative and effective product / market solutions, enriched with the latest technology.
              </p>
            </div>
          </div>
        </div>
        <div class="grid-item col-md-4">
          <div class="icon-box">
            <div class="icon-box-cell">
              <i class="fa fa-lightbulb-o text-xl"></i>
            </div>
            <div class="icon-box-cell">
              <label class="text-m">Inspiring
                environment</label>
              <p style="text-align: justify;">
                Acquiring and sharing knowledge as key factor in increasing the added value.
              </p>
            </div>
          </div>
        </div>
        <div class="grid-item col-md-4">
          <div class="icon-box">
            <div class="icon-box-cell">
              <i class="fa fa-thumbs-o-up text-xl"></i>
            </div>
            <div class="icon-box-cell">
              <label class="text-m">Commitment</label>
              <p style="text-align: justify;">
                We are committed to our words and promise by focusing and ensuring value and precise delivery.
              </p>
            </div>
          </div>
        </div>
        <div class="grid-item col-md-4">
          <div class="icon-box">
            <div class="icon-box-cell">
              <i class="fa fa-desktop text-xl"></i>
            </div>
            <div class="icon-box-cell">
              <label class="text-m">Innovative</label>
              <p style="text-align: justify;">
                We encourage our staff in learning, training and development to provide innovative IT solutions to the customers
              </p>
            </div>
          </div>
        </div>
        <div class="grid-item col-md-4">
          <div class="icon-box">
            <div class="icon-box-cell">
              <i class="fa fa-comments-o text-xl"></i>
            </div>
            <div class="icon-box-cell">
              <label class="text-m"> Support</label>
              <p style="text-align: justify;">
                Our team helps you optimize processes for maximum efficiency to your IT infrastructure to be responsive to your business
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="space" />
    <div class="row">
      <div class="col-md-4 col-sm-12 text-center-sm">
        <h1>Coreng Values: </h1>
        <p style="text-align: justify;">Our core values are Experience, Expertise and Excellence for our craft. We believe in team work which
          allows us to provide our clients with seamless services across the board on each assignment that we
          take on.</p>
        <hr class="space xs" />
        <!-- <ul class="fa-ul text-color text-center-sm">
          <li><i class="fa-li fa fa-check"></i> Nanometric technologies</li>
          <li><i class="fa-li fa fa-check"></i> Thousands of billions of transistors</li>
        </ul> -->
        <hr class="space visible-sm" />
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="flexslider slider nav-inner white" data-options="controlNav:true,directionNav:false">
          <ul class="slides">
            <li>
              <a class="img-box lightbox inner" href="#http://www.framework-y.com/images/thumb-large.png">
                <span><img src="assets/images/clients/498The GoldBerg Post.jpeg" alt="" style="height: 350px; width: 590px;" /></span>
                <span class="caption-box">
                      <span class="caption">
                          <h3 style="color: black;">Our Mission</h3>
                                  <p style="text-align: justify;">
                        Our mission is to create advanced technological application solutions (customer centric) that are
                        regarded as one of the best in the market, by peers and clients,
                                            </p>
                                      </span>
                                    </span>
              </a>
            </li>
            <li>
              <a class="img-box lightbox inner" href="http://www.framework-y.com/images/thumb-large.png">
                <span><img src="assets/images/clients/Vision.jpg" alt="" style="height: 350px; width: 590px;"/></span>
                <span class="caption-box">
                                        <span class="caption">
                                            <h3 style="color: black;">Our Vision</h3>
                                            <p style="text-align: justify;">
                                  Our vision is to be the fast and reliable technical assistance to business and every technology user. We
                                  aim to meet expectations of our peers, customers, employees and stakeholders
                                              </p>
                                        </span>
                                    </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-bg-image bg-top" style="background-image:url(assets/images/long-2.jpg)">
  <!-- <div class="container content">
    <h1 class="text-center">See the killer features</h1>
    <hr class="space" />
    <div class="row vertical-row">
      <div class="col-md-6">
        <img src="assets/images/box-1.png" alt="" data-anima="fade-left" data-time="1000" />
      </div>
      <div class="col-md-6">
        <h4>Analytics & reporting</h4>
        <p>
          Algolia’s analytics dashboard helps product teams better understand what their users are looking for most, as well as where they are hitting dead-ends most often.
          Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismo.
        </p>
        <a href="index-main.html#" class="circle-button btn btn-sm">View datas</a>
      </div>
    </div>
    <hr class="space m" />
    <div class="row vertical-row">
      <div class="col-md-6">
        <h4>Analytics & reporting</h4>
        <p>
          Algolia’s analytics dashboard helps product teams better understand what their users are looking for most, as well as where they are hitting dead-ends most often.
          Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismo.
        </p>
        <hr class="space s" />
        <a href="index-main.html#" class="circle-button btn btn-sm">View datas</a><span class="space"></span>
        <a href="index-main.html#" class="circle-button btn btn-border btn-sm">Details</a>
      </div>
      <div class="col-md-6">
        <img src="assets/images/box-2.png" alt="" data-anima="fade-right" data-time="1000" />
      </div>
    </div>
  </div> -->
</div>////
<div class="section-bg-image bg-top" style="background-image:url(assets/images/bg-14.png)">
  <div class="container content">
    <div class="row">
      <div class="col-md-8">
        <h3> OUR VALUABLE CLIENTS</h3>
        <!-- <p>
          Aaboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
          in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p> -->
      </div>
      <!-- <div class="col-md-8 boxed-inverse shadow-1">
        <div class="row">
          <div class="col-md-6">
            <h4>Premium support</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elitsed doido.</p>
            <hr class="space s" />
            <div class="counter-box-simple text-color-2"><span class="counter text-l" data-speed="5000" data-to="50000" data-refresh-interval="100"></span><span> Costumers</span></div>
          </div>
          <div class="col-md-6">
            <ul class="fa-ul text-color ">
              <li><i class="fa-li fa fa-check"></i> Experienced team</li>
              <li><i class="fa-li fa fa-check"></i> Lovely, friendly and funny people</li>
              <li><i class="fa-li fa fa-check"></i> Thousands of satisfied cosutmers</li>
              <li><i class="fa-li fa fa-check"></i> Billions of transistors</li>
              <li><i class="fa-li fa fa-check"></i> Nanometric technologies</li>
              <li><i class="fa-li fa fa-check"></i> Revolutionary flow work method</li>
            </ul>
          </div>
        </div>
      </div> -->
    </div>
    <hr class="space" />
    <div class="flexslider carousel outer-navs" data-options="minWidth:200,itemMargin:30,numItems:4,controlNav:false,directionNav:true">
      <ul class="slides">
        <li>
          <a class="img-box-1 lightbox shadow-1" href="#assets/images/clients/logo.png" data-lightbox-anima="fade-top">
            <img src="assets/images/clients/logo.png" alt="" style="height: 150px; width: 190px;">
          </a>
        </li>
        <li>
          <a class="img-box-1 lightbox shadow-0" href="#assets/images/clients/Path-NGO.png" data-lightbox-anima="fade-top">
            <img src="assets/images/clients/Path-NGO.png" alt="">
          </a>
        </li>
        <li>
          <a class="img-box-0 lightbox shadow-0" href="#assets/images/gallery/image-1.jpg" data-lightbox-anima="fade-top">
            <img src="assets/images/clients/ROL.png" alt="" style="height: 150px; width: 190px;">
          </a>
        </li>
        <li>
          <a class="img-box-0 lightbox shadow-0" href="#assets/images/gallery/image-1.jpg" data-lightbox-anima="fade-top">
            <img src="assets/images/clients/ngiloi.png" alt="" style="height: 130px; width: 120px;">
          </a>
        </li>
        <li>
          <a class="img-box-0 lightbox shadow-1" href="#assets/images/gallery/image-1.jpg" data-lightbox-anima="fade-top">
            <img src="assets/images/clients/prid.png" alt="" style="height: 130px; width: 200px;">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
